html{
  font-family: Lucida;
}
body {
  background: #cfcfcf;
  margin:0;
}
.container{
  width: 100%;
  margin: 0;
}
.header{
  width: 100%;
  height: 120px;
  background: white;
}
.logo{
  float: left;
  width:40px;
  height: 40px;
  margin: 10px;
  background-image: linear-gradient(#ff5c5c, white);
}
.header-content{
  text-align: center;
  padding: 10px;
  margin: 0;
  color: #ff5c5c;
  background: white;
}
.navbar{
  height: 40px;
  background: #ff5c5c;
}
.navbar ul {
  margin: 0;
  padding: 0;
}
.navbar ul li{
  list-style: none;
}
.navbar ul li a{
  text-decoration: none;
  float: left;
  display: block;
  padding: 10px 20px; ;
  color: black;
}
.navbar ul li a:hover{
  color:white;
  font-weight: bold;
  background: #c94b4b;
}
.content{
  width: 50%;
  padding: 5px;
}
